-----BEGIN CERTIFICATE-----
MIICjTCCAfYCCQDVhypP52X8ljANBgkqhkiG9w0BAQsFADCBijELMAkGA1UEBhMC
RVMxDzANBgNVBAgMBk1BRFJJRDEPMA0GA1UEBwwGTUFEUklEMRMwEQYDVQQKDApJ
QkVSTUFUSUNBMRAwDgYDVQQLDAdTV0lOVEVMMRcwFQYDVQQDDA50ZXN0bGFtcC5s
b2NhbDEZMBcGCSqGSIb3DQEJARYKdGVzdEBlcy5lczAeFw0xODA1MjgwODQxNDRa
Fw0xOTA1MjgwODQxNDRaMIGKMQswCQYDVQQGEwJFUzEPMA0GA1UECAwGTUFEUklE
MQ8wDQYDVQQHDAZNQURSSUQxEzARBgNVBAoMCklCRVJNQVRJQ0ExEDAOBgNVBAsM
B1NXSU5URUwxFzAVBgNVBAMMDnRlc3RsYW1wLmxvY2FsMRkwFwYJKoZIhvcNAQkB
Fgp0ZXN0QGVzLmVzMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDM/1xVhtcL
sI9tKp4nQoUKZfOS9ueaNel5sj23Z90JAssBR74d9Zq2aATfuC9j/ceWiOPMaG8B
2mPwOY4tN9dQF9rxWH0L4KEqwbcZkWbcCtFhBAKhqgNzgyaKscp+rU+nyTZKtoBl
rK3/Kx7vXP3uC6k13Tqho7eEXfdmB+EjxwIDAQABMA0GCSqGSIb3DQEBCwUAA4GB
AFmXkiLK2Bsm+gGHje4Q/Agv9+caKYf4mLutnuEFfYrVdjGXb8e8HkYvnFdk1uwZ
YLuG7x3/uaCGv83Z0o4HNkpLWKnFhsImqQas/+2byxKr0hlGlTrPYlXxwdzT/0yN
ZjLEcGzdBDoxTxaZ1CRldCCGNDvgjHsexuu38WaQ1JlN
-----END CERTIFICATE-----
